// FONTS
@font-face {
    font-family: barlowBlack;
    src: url(/fonts/BARLOW-BLACK.TTF);
}
@font-face {
    font-family: barlowBold;
    src: url(/fonts/BARLOW-BOLD.TTF);
}
@font-face {
    font-family: barlowRegular;
    src: url(/fonts/BARLOW-REGULAR.TTF);
}
@font-face {
    font-family: barlowThin;
    src: url(/fonts/BARLOW-THIN.TTF);
}
@font-face {
    font-family: kudry;
    src: url(/fonts/KUDRY_WEIRD-HEADLINE.OTF);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #060606;
    color: #ededed;
    font-family: barlowRegular;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
