.outline {
    position: fixed;
    width: 600px;
    height: 600px;
    background-color: #7ac34e;
    filter: blur(150px) opacity(0.25);
    border-radius: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    z-index: -1;

    @media screen and (max-width: 450px) {
        display: none;
    }
}
